<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= Guest.where(response: 'Yes').count %> plan on attending. </h1>
    <h1><%= Guest.where(response: 'Maybe').count %> might attend. </h1> 
    
    <%= image_tag attachments['DragonMedium.png'].url %>
    
  </body>
</html>